<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VHP4Safety</title>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Cytoscape.js -->
    <script src="/static/js/cytoscape.min.js"></script>

    <!-- Jmol -->
    <script src="/static/js/JSmol.min.js"></script>

    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/vhp_favicon.ico') }}"
      type="image/x-icon"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Swiper Carousel for partners -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Custom Styles -->
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-container">
      <!-- Main Content Section -->
      <main class="container mt-4">
        <div id="content-wrap">
          {% block content %} {% endblock %}
        </div>
      </main>

    </div>
  </body>
</html>
